@CHARSET "EUC-KR";

<style>
	body {
		font-family: Arial, sans-serif;
	}
	.content {
		width: 50%;
		margin: 0 auto;
		margin-top: 25px;
	}
	.btn {
		width: 150px;
    	font-size: 20px;
    	border:none;
    	float: right;
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0px 10px 20px;
        text-align: center;
        text-decoration: none;
        background-color: #ff9933; 
        color: white;
        border-radius: 15px;
   }
	
	.content_input {
		border: none;
		height: 30px;
		font-size: 20px;
		text-align: center;
	}
	
    .btn:hover {
        background-color: #ff8c00;
    }
    a {
        text-decoration: none;
        color: #333;
    }
    .button-container{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .empty-container{
        height: 20px;
    }
</style>